[submodule "rtl"]
    path = rtl
    url = https://github.com/masc-ucsc/black-parrot.git
    ignore = dirty
[submodule "sdk"]
	path = sdk
	url = https://github.com/masc-ucsc/black-parrot-sdk.git
    ignore = dirty
